.header-dark{
    display:flex;
    background-color:black;
    text-align: center;
    color: white;
    flex:3;
    justify-content:flex-start;
    opacity:1;
    padding-right:20px;
    justify-content: right;
}
